body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .box {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(155, 42, 42);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  